// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--ion-color-colorseti: #c54830;
	--ion-color-colorseti-rgb: 197,72,48;
	--ion-color-colorseti-contrast: #ffffff;
	--ion-color-colorseti-contrast-rgb: 255,255,255;
	--ion-color-colorseti-shade: #ad3f2a;
	--ion-color-colorseti-tint: #cb5a45;

 --ion-color-colorsecondseti: #1f1f21;
	--ion-color-colorsecondseti-rgb: 31,31,33;
	--ion-color-colorsecondseti-contrast: #ffffff;
	--ion-color-colorsecondseti-contrast-rgb: 255,255,255;
	--ion-color-colorsecondseti-shade: #1b1b1d;
	--ion-color-colorsecondseti-tint: #353537;

 --ion-color-colorsecondseti: #7b7b7b;
	--ion-color-colorsecondseti-rgb: 123,123,123;
	--ion-color-colorsecondseti-contrast: #000000;
	--ion-color-colorsecondseti-contrast-rgb: 0,0,0;
	--ion-color-colorsecondseti-shade: #6c6c6c;
	--ion-color-colorsecondseti-tint: #888888;
}
