<ion-header [translucent]="true">
  <ion-toolbar color="colorseti">
    <div class="custom-header">
        <div class="title-header">
          <div class="main-header">Lista de Tareas</div>
          <div class="date-header">{{today | date}}</div>
        </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let item of toDoList">
      <ion-card-header>
        <ion-card-title>
          <div class="card-title">
            <div class="task-name">{{item.title}}</div>
            <ion-text [ngClass]="item.priority | priorityColor"
                class="priority-task">
              {{item.priority}}
            </ion-text>
          </div>
        </ion-card-title>

        <ion-card-subtitle>
          <ion-icon [name]="item.category | categoryIcon"
                    [style.color]="'var(--ion-color-secondseti-tint)'">
          </ion-icon>
          {{item.category}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        {{item.description}}
      </ion-card-content>

      <ion-row>
        <ion-item>
          <ion-checkbox>Completado</ion-checkbox>
        </ion-item>    
        <ion-item>
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar tarea
        </ion-item>        
      </ion-row>
    
    </ion-card>
  </div>
</ion-content>
